<mat-toolbar  style="background-color: rgb(79, 79, 235);">

  <div class="container d-flex">
    <span routerLink="/" style="cursor:pointer">Team11 Task</span>
    <span class="spacer"></span>
    <div class="d-flex justify-content-around icons" style="width: 100px;" *ngIf="showMenu">

    <div class=" d-flex align-items-center mr-2 px-2">
         <span routerLink="/login">Login</span>
         <mat-icon routerLink="/login">login</mat-icon>
    </div>

    <div class=" d-flex align-items-center ml-2 px-2">
      <span routerLink="/register">Register</span>
      <mat-icon routerLink="/register">how_to_reg</mat-icon>
 </div>

    </div>


   <div class=" d-flex justfiy-content-around icons align-items-center "  style="width : 100px; margin-right:50px;" *ngIf="!showMenu" >


    <div class=" ">
      <h3>Welcome , {{username}}</h3>
    </div>
    <mat-icon style=" padding-right:30px;" (click)="logout()" >logout</mat-icon>

   </div>




  </div>

</mat-toolbar>

<div class="container py-3">
  <router-outlet></router-outlet>
</div>